
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
body{
    background: #10101a;
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #10101a;
    padding: 24px 14%;
    transition: .3s;
}
.logo{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
span{
    color: #1CD854;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
}
.navbar a:hover{
    background: #1CD854;
    transition: .3s;
}
#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 120px 14%;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 50px;
}
.home-text h5{
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 20px;
}
.home-text h1{
    color: #1CD854;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 1;
}
.home-text h6{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.home-text p{
    max-width: 470px;
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 300;
    color: aliceblue;
    margin-bottom: 1.5rem;

}
.btn{
    display: inline-block;
    background: #1CD854;
    color: #fff;
    font-size: 14px;
    box-shadow: 4px 4px #fff;
    padding: 0 25px;
    line-height: 42px;
    letter-spacing: 2px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: ease all 0.35s;
    border-radius: 5px;
}
.btn:hover{
    background-color: #fff;
    color: black;
    box-shadow: 4px 4px #1CD854;
}

.about-text{
    margin: auto;
    max-width: 800px;
    width: 100%;
    height: auto;
}
.about-text h3{
    color: #00ff40;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
}
.about-text h2{
    max-width: 470px;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.about-text p{
    max-width: 570px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
}
.count{
    margin-bottom: 2rem;
}
.about-text .count a{
    color: #fff;
    margin-right: 20px;
    word-spacing: 5px;
    font-size: 18px;
}
.count span{
    color: #00ff40;
    font-size: 2.7rem;
    font-weight: 600;
}
.main-btn .btn{
    margin-right: 20px;
}
 .service-text{
     text-align: center;
} 
 .service-text h3{
     font-size: 30px;
     font-weight: 500;
     color: #fff;
     letter-spacing: 6px;
 }

 .service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}
.row{
    background: #0b0b13;
    color: #fff;
    padding: 50px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}
.row i{
    color: #00ff40;
    font-size: 3rem;
    margin-bottom: 20px;
}
.row h3{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.row p{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
}
.row:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 /70%);
}
.protfolio-text{
    text-align: center;
}
.protfolio-text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 25px;
    line-height: 4;
}
.protfolio-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    align-items: center;
}
.protfolio-img{
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}
.protfolio-img img{
    width: 360px;
}
.protfolio-img:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgba(20, 20, 20, 0.9);
}
.copyright{
    background: #0b0b13;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    padding: 30px;
    margin-top: 3rem;
    font-size: 15px;
    font-weight: 300;
}






.center{
    text-align: center;
}
.center h3{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.contact-from{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

form{
    position: relative;
    width: 680px;
}

.contact-from .your-info{
    padding: 11px 20px;
    border: none;
    outline: none;
    background: #2c2c2c;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.contact-from
 .your-info::placeholder,
.desceiption::placeholder{
    text-transform: uppercase;
}
.contact-from .desceiption{
    width: 100%;
    height: 200px;
    color: #fff;
    background: #2c2c2c;
    border: none;
    outline: none;
    border-radius: 1.7rem;
    padding: 20px;

}
.send-btn{
    width: 100%;
    background: #1CD854;
    color: #fff;
    font-size: 14px;
    box-shadow: 4px 4px #fff;
    padding: 0 25px;
    line-height: 42px;
    letter-spacing: 2px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: ease all 0.35s;
    border-radius: 5px;
    text-transform: uppercase;
}
.send-btn:hover{
    background-color: #fff;
    color: black;
    box-shadow: 4px 4px #1CD854;

    

@media (max-width:991px) {
  
}